/* Home */
.home h3, .content__login h3, .content__suscribase h3{
	color: #4D5B6D;
	font-size: 18px;
	font-weight: 700;
}

/* Home Slider */

.art__slide__home{
	max-width: 100%;
	width: 100%;
	height: 240px;
	position: relative;
	margin-left: 0%;
	border: 1px solid #CECECE;
	padding: 20px 10px 0px 20px;
}
.art__slide__home ul{
	margin-bottom: 0px;
}
.art__slide__home li{
	max-width: 70%;
	margin-bottom: 8px;
	font-weight: 700;
}
.art__slide__home p{
	font-size: 14px;
	line-height: 16px;
	line-height: 12px;
	font-weight: 500;
}
.art__slide__home li, .art__slide__home a{
	display: inline-block;
	vertical-align: top;
} 


/* Lo mas destacado */
.sector-2{
	padding: 20px 0px;
}
.sector-3{
	padding: 0px 0px 20px 0px;
}
.sector-5{
	padding: 20px 0px;
}
.lo__mas__destacado h3{
	max-width: 25%;
	background: #ffffff;
}
.line__destacado__home{
	margin: 0px;
	top: -31px;
	position: relative;
	border-top: 2px solid #4D5B6D;
	text-align: right;
	z-index: -1;
}
.cajas__destacado, .cajas__practica__home, .cajas__atencion__primaria{
	margin-left: 20px;
}
.cajas__destacado a img{
	max-width: 100%;
}
.cajas__destacado h2, .cajas__practica__home h2, .cajas__atencion__primaria h2{
	font-size: 14px;
	text-align: justify;
	letter-spacing: .1px;
	margin-bottom: 10px;
}

.revista__home{
	max-width: 100%;
	background-color: #F9F9F9;
	height: 100%;
	text-align: center;
	padding: 20px 10px;
	margin-top: 12px;
}
.revista__home img{
	margin-bottom: 10px;
	max-width: 100%;
}
.revista__home h3{
	color: #000000;
	letter-spacing: .1px;
}
.revista__home span{
	color: #828282;
	font-weight: 500;
	font-size: 14px;
}

/* Practica Medica */
.practica__medica h3{
	max-width: 25%;
	background: #ffffff;
}
.cajas__practica__home h4, .cajas__atencion__primaria h4{
	background-color: #F2F0F0;
	max-width: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	color: #4D5B6D;
	padding: 15px 10px;
}
.cajas__practica__home .puntos_suspensivos{
	margin-top: 10px;
}

/** Recomendados del editor **/
.recomendados__editor__home{
	margin-top: 10px;
}
.recomendados__editor__home h4 {
	max-width: 100%;
	background-color: #4D5B6D;
	text-align: center;
	margin-bottom: 0px;
	padding: 3px;
}
.recomendados__editor__home h4 a{
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: .1px;
	top: -5px;
	position: relative;
}
.recomendados__editor__home h2{
	margin-bottom: 0px;
	line-height: 20px;
}
.recomendados__editor__home h2 a{
	font-size: 14px;
	text-decoration: none;
	color: #0C0C0C;
	letter-spacing: .1px;
}
.recomendados__editor__home p, .cajas__atencion__primaria p, .nuestros__portales p{
	font-size: 14px;
	color: #545353;
	line-height: 16px;
	margin-bottom:10px;
}
.recomendados__editor__home .puntos_suspensivos{
	margin-bottom: 0px;
}

/* Atencion primaria */
.atencion__primaria h3{
	max-width: 30%;
	background: #ffffff;
}
.cajas__atencion__primaria h2{
	font-weight: 500;
}
.cajas__atencion__primaria h2 a{
	text-decoration: none;
	color: #0C0C0C;
}
.cajas__atencion__primaria img{
	margin-bottom: 20px;
	margin-top: 20px;
}
.cajas__atencion__primaria p{
	margin-bottom: 20px;
}

/* Especiales ILADIBA */
.especiales_iladiba{
	margin-top: 10px;
}
.especiales_iladiba h4 {
	max-width: 100%;
	background-color: #9B052C;
	text-align: center;
	margin-bottom: 0px;
	padding: 3px;
}
.especiales_iladiba h4 a{
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: .1px;
	top: -5px;
	position: relative;
}


/* FlexSlider */
.flex-caption {
  width: 96%;
  max-width: 100%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 14px;
  line-height: 18px;
}
/* De Interés Sidebar */

.de__interes__sidebar__home h4 {
	max-width: 100%;
	background-color: #4D5B6D;
	text-align: center;
	margin-bottom: 0px;
	padding: 3px;
}
.de__interes__sidebar__home h4 a{
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: .1px;
	top: -5px;
	position: relative;

}
.de__interes__sidebar__home h2{
	margin-bottom: 0px;
	line-height: 14px;
}
.de__interes__sidebar__home h2 a{
	text-decoration: none;
	color: #0C0C0C;
	font-size: 14px;
	font-weight: 500;
}
.de__interes__sidebar__home img{
	margin-top: 10px;
	margin-bottom: 20px;
}

.de__interes__sidebar__home iframe{
	margin-bottom: 20px;
}
/* Sidebar de la A a la Z */
.salud__a__z{
	margin-top: 10px;
}
.salud__a__z h4 {
	max-width: 100%;
	background-color: #4D5B6D;
	text-align: center;
	margin-bottom: 0px;
	padding: 3px;
}
.salud__a__z h4 a{
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: .1px;
	top: -5px;
	position: relative;
}
.salud__a__z ul{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.salud__a__z ul li{
	display: inline-block;
	border-radius: 15px;
	border: 3px solid #F2F0F0;
	height: 18px;
	width: 18px;
	line-height: 17px;
}
.salud__a__z ul li:hover{
	border: 3px solid #0C0C0C;
	border-radius: 15px;
}
.salud__a__z ul li a{
	color: #0C0C0C;
	text-decoration: none;
	font-weight: 700;
	font-size: 13.48px;
}

/* Nuestros portales */
.nuestros__portales h3{
	max-width: 30%;
	background: #ffffff;
}

.nuestros__portales h4{
	background-color: #F2F0F0;
	max-width: 200px;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	color: #4D5B6D;
	padding: 10px 10px;
	margin-bottom: 10px;
}
.nuestros__portales h2{
	line-height: 12px;
	margin-bottom: 10px;
}
.nuestros__portales h2 a{
	text-decoration: none;
	color: #0C0C0C;
	font-size: 14px;
	font-weight: 500;
}
.nuestros__portales .puntos_suspensivos{
	margin-top: 10px;
}

/** Banner sidebar y Newsletter **/
.banner__sidebar{
	text-align: center;
}
.banner__sidebar img{
	max-width: 100%;
	margin-top: 10px;
}

.newsletter{
	margin-top: 10px;
}
.newsletter h4 {
	max-width: 100%;
	background-color: #0068A3;
	text-align: center;
	margin-bottom: 0px;
	padding: 3px;
}
.newsletter h4 a{
	text-decoration: none;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: .1px;
	top: -5px;
	position: relative;
}
.newsletter input[type="text"]{
	border: none;
	width: 100%;
	max-width: 100%;
	font-size: 12px;
}
.newsletter p{
	margin-bottom: 0px;
	font-size: 12px;
	color: #4D5B6D;
	padding: 5px 0px;
}
.newsletter .bg-gray{
	padding: 0px 10px 30px 10px;
}

/** Banner footer home **/
.banner__home__728{
	padding: 20px 0px;
}
.banner__home__728 img{
	max-width: 100%;
}
.slider-width{
	width: 70%
}
.art-width{
	width: 20%;
}
.slider-width, .art-width{
	display: inline-block;
	vertical-align: top;
}
.slider-width .flex-caption{
	background: rgba(255,255,255,.5);
	color: #0C0C0C;
	padding: 10px 60px;
	width: 96%;
  max-width: 100%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background: rgba(255,255,255,.5);
  line-height: 18px;
  position: relative;
  top: -96px;
  margin-bottom: -60px;
}
.slider-width .flex-caption span{
	font-size: 14.35px;
	font-weight: 500;
}
.slider-width .flex-caption h2{
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 0px;
}
.title__slider{
	width: 50%;
	padding: 0px 20px;
}
.boton__slider{
	width: 18%;
}
.title__slider, .boton__slider{
	vertical-align: middle;
	display: inline-block;
}